# Port to run the server on (default 3000)
PORT=3000

# Postgres connection string. Fill this in for local development
# Example: postgresql://username:password@hostname:5432/mywowndb?sslmode=require
DATABASE_URL=
